@tailwind base;
@tailwind components;
@tailwind utilities;
#about {
    background-image: url("../assets/img/color-sharp2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: #000;
}
