@tailwind base;
@tailwind components;
@tailwind utilities;
#contact{
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
}
#contact .col-half{
    width: 49%;
}
#contact form{

}
#contact form input, #contact form textarea {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 12px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
#contact form input::placeholder, #contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
#contact .message {
    padding-bottom: 10rem
}
#contact button{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
}
#contact button:hover{
    opacity: 0.6;
}
#contact img{
    width: 700px;
    height: 700px
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media  (max-width: 1024px) {
    
    #contact img {
        display: none;
    }
    
}